# Backend Laravel
/backend/vendor/
/backend/node_modules/
/backend/storage/
/backend/.env
/backend/.phpunit.result.cache
/backend/.idea/
/backend/.vscode/

# Frontend Vue.js
/frontend/node_modules/
/frontend/dist/
/frontend/.env
/frontend/.idea/
/frontend/.vscode/

# Logs & system files
*.log
.DS_Store
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
